@model  ViewModels.MasterPageModel
@{
    Layout = null;
    ViewBag.SEOScript = WebSiteProject.Code.CacheMapping.SEOScript;
    if (Session["NoJacascript"] != null) {
        Session["NoJacascript"] = 0;
    }
}
@{
        Layout = null;
}
<!DOCTYPE html>
<html lang="Zh-hant" xml:lang="Zh-hant">
<!--英文版<html lang="en" xml:lang="en">-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="@Url.Content("~/img/favicon.ico")" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @*<meta http-equiv="Content-Security-Policy" content="default-src 'self'; child-src 'none';script-src 'self' https:">*@
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/theme-elements.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/settings.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/fontawesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/brands.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/solid.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/regular.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/owl.theme.default.min.css")">
    <noscript>
        <link rel="stylesheet" href="@Url.Content("~/frontcss/css/noscript.css")">
    </noscript>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>
    <!--owl.carousel start-->
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/main_owl.js")"></script>
    <!--owl.carousel end-->
    <script src="@Url.Content("~/Scripts/custom.js")"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120661325-6"></script>
    @if (Model.SEOScript != null)
    {
        if (Model.SEOScript.Length > 3) { Model.SEOTitleOrg = Model.SEOScript[3]; }
        else { Model.SEOTitleOrg = Model.SEOTitle; }
        if (string.IsNullOrEmpty(Model.SEOScript[2]) == false)
        {
            Model.SEOTitle = Model.SEOScript[2];
            <title>@Model.SEOScript[2]</title>
        }
        else
        {
            <title>@Model.SEOTitle</title>
        }
        if (Model.SEOScript[1] != "")
        {
            @Html.Raw(Model.SEOScript[1])
        }
        if (Model.SEOScript[0] != "")
        {
            <meta name="description" content="@Model.SEOScript[0]" />
        }
    }
    else
    {
        Model.SEOTitleOrg = Model.SEOTitle;
        <title>@Model.SEOTitle</title>
    }
    @if (ViewBag.SEOScript == "")
    {
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-120661325-6');
        </script>
    }
    else
    {
        @Html.Raw(@ViewBag.SEOScript)
    }
</head>
<body>
    <!--header start-->
    <noscript>
        <div class="noscript_font">
            <img src="@Url.Action("noJavascript","Home")" style="display:none;" alt="noJavascriptImg">
            @Common.GetLangText("NoJavascript")
        </div>
    </noscript>
    <!--header start-->

    <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": false, "stickyStartAt": 100, "stickySetTop": "-100px", "stickyChangeLogo": false}'>
        <div class="header-body">
            <!--topmenu start-->
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">

                        <div class="header-logo">
                            @if (Session["NoJacascript"] != null)
                            {
                                <span>ASDASDASDASDSAD</span>
                            }
                            <a href="#main-content" class="sr-only  sr-only-focusable" title="@Common.GetLangText("跳到主要內容區塊")">@Common.GetLangText("跳到主要內容區塊")</a><!-- 英文版 <a href="#main-content" class="sr-only" title="Jump to the main content area" tabindex="1">Jump to the main content area</a>  -->
                            <h1>
                                <a href="@Url.Action("Index", "Home")" title="@Model.SEOTitleOrg">
                                    <img alt="@Model.SEOTitleOrg" width="340" data-sticky-width="330" data-sticky-top="0" src="@Model.LogoUrl">
                                </a>
                            </h1>
                        </div>
                        <button class="btn header-btn-collapse-nav float_right" data-toggle="collapse" data-target=".header-nav-main">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="header-column">
                        <div class="header-row hidden-xs">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills">
                                    <li>
                                        <a href="#;return false;" title="@Common.GetLangText("上方選單區")" accesskey="U" class="accesskey">:::</a>
                                    </li>
                                    @Html.Raw(Model.TopMenu)
                                    <li class="font_size hidden-xs">
                                        <a href="#" class="size_s" id="font_s" onClick="size_set('font_s')" onkeypress="size_set('font_s')" title="@Common.GetLangText("小字級")">A-</a>
                                        <a href="#" class="size_m" id="font_m" onClick="size_set('font_m')" onkeypress="size_set('font_m')" title="@Common.GetLangText("中字級")">A</a>
                                        <a href="#" class="size_l" id="font_l" onClick="size_set('font_l')" onkeypress="size_set('font_l')" title="@Common.GetLangText("大字級")">A+</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--topmenu end-->
            <div class="header-container header-nav header-nav-bar">
                <div class="container">
                    <div class="header-row">
                        <div class="header-nav">
                            <div class="header-nav-search header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                <form action="@Url.Action("Search","Search")" method="post" id="searchform" name="searchform">
                                    <nav>
                                        <ul class="nav nav-pills">
                                            <li class="search_box">
                                                @Html.AntiForgeryToken()
                                                <label for="footer_search">
                                                    <input type="text" id="footer_search" name="key" class="search_input" placeholder="Search...">
                                                </label>
                                                <button id="btn_mainsearch" name="btn_mainsearch" type="submit" form="searchform" class="search_icon" title="@Common.GetLangText("搜尋")" alt="@Common.GetLangText("搜尋")"><i class="fa fa-search"></i></button><!--無障礙需求：使用onClick, 需同時使用onkeypress-->
                                            </li>
                                        </ul>
                                    </nav>
                                </form>
                            </div>

                            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                <nav>
                                    <ul class="nav nav-pills" id="mainNav">
                                        @Html.Raw(Model.MainMenu)
                                    </ul>
                                    <ul class="nav nav-top visible-xs">
                                        @Html.Raw(Model.TopMobileMenu)
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
    @Html.AntiForgeryToken()
    <!--header end-->
    <!--header end-->
    @RenderBody()
    <!--footer start-->
    <!--footer menu start-->
    <div class="footer_menu hidden-xs">
        <div class="container">
            @Html.Raw(Model.FooterMenu)
        </div>
    </div>
    <!--footer menu end-->
    <footer id="footer">
        <div class="footer_line"></div>
        <div class="container">
            <div class="item_01">
                <form action="@Url.Action("Search","Search")" method="post" id="searchform2" name="searchform2">
                    <div class="search">
                        @Html.AntiForgeryToken()
                        <label for="footer_search2">
                            <input type="text" id="footer_search2" class="form-control" placeholder="請輸入關鍵字" name="key">
                        </label>
                        <button type="submit" form="searchform2" class="search_icon" title="@Common.GetLangText("搜尋")" alt="@Common.GetLangText("搜尋")" id="btn_mainsearch2" name="btn_mainsearch2"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">@Common.GetLangText("搜尋")</span></button>
                        <!--英文Popular search-->
                    </div>
                </form>
                <ul class="quantity">
                    <li><strong>線上人數</strong>：@Model.NowUsecCount </li>
                    <li><strong>本日瀏覽人數</strong>：@Model.TodayOnline</li>
                    <li><strong>總瀏覽人數</strong>：@Model.HisUseCount</li>
                    <li><strong>網站最後更新日期</strong>：@Model.LastUpdateDate</li>
                </ul>
            </div>
            @Html.Raw(Model.FooterString)
        </div>
    </footer>


    <!--footer end-->
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/js/theme.js")"></script>
    <script src="@Url.Content("~/js/theme.init.js")"></script>


    <!--banner start-->
    <script src="@Url.Content("~/js/jquery.appear.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.themepunch.tools.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.themepunch.revolution.min.js")"></script>
    <!--banner end-->
    <!--滾動效果 start-->
    <script src="@Url.Content("~/js/scrollReveal.js")"></script>
    <!--滾動效果 end-->

</body>
</html>
<script type="text/javascript">
    $(function () {
        size_set('@Model.Fontsize');
        $("body").delegate((".newopen"), "click", function () {
            var width = $(this).attr('owidth');
            var height = $(this).attr('oheight');
            var path = $(this).attr('path');
            var constr = [];
            if (width !== undefined) { constr.push("width=" + width); }
            if (height !== undefined) { constr.push("height=" + height); }
            if (constr.length > 0) {
                window.open(path, "", config = constr.join(','));
            } else {
                document.location.href = path;
            }
        });
        $(".size_s,.size_m,.size_l").click(function () { $.post('@Url.Action("SetFontSize","Home")', { size: $(this).attr("id") }, function (data) { }); });

        $('#searchform2').submit(function (event) {
            var key = $("#footer_search2").val();
              if (key == "") { alert('@Common.GetLangText("請確實輸入搜尋關鍵字")'); return false; }
        });
        var nowlangid = '@Model.LangId';
        if (nowlangid == "1") {
            $(".langchange").attr('langid', "2");
        } else {
            $(".langchange").attr('langid', "1");
        }
       $(".sellang").val('@ViewBag.langid');
           if ('@ViewBag.showmessage' == "Y") {
               showauth();
           }
    });

</script>
@RenderSection("scripts", required: false)