@model ArticleFrontGroupListModel
@{
    Layout = WebSiteProject.Code.Common.GetLayout(Model.ShowModel, Model.LangId);
}
@Html.AntiForgeryToken()
<!--owl.carousel start-->
<link rel="stylesheet" href="@Url.Content("~/frontcss/css/owl.carousel.min.css")">
<link rel="stylesheet" href="@Url.Content("~/frontcss/css/owl.theme.default.min.css")">
<script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
<script src="@Url.Content("~/js/main_owl.js")"></script>
<!--owl.carousel end-->
<div id="content" class="page_content">
    <div class="container">
        <div class="content_con">

            <div class="right">
                @Html.Raw(Model.LeftMenu)
            </div>

            <div class="left">

                <div class="page_top" data-sr="enter top over 1.5s">
                    <a href="#;return false;" title="主要內容區" accesskey="C" id="main-content">:::</a> <!--英文<a href="#;return false;" title="Main content area" accesskey="C">:::</a>-->
                    @Html.Raw(Model.LinkStr)
                </div>

                <!--page_top start-->
                <div class="page_top_right" data-sr="enter right over 1.5s">
           
                </div>
                <!--page_top end-->

                <h2 >@Model.Title</h2>

                <div class="article_class_02">
                    <!--<div class="btn_back"><a href="article.html" class="btn_01" title="回上一層分類">回上一層分類</a></div>
                    <div class="title">依議題分類</div>-->
                    <ul class="list">
                        @for (var idx = 0; idx < Model.SubGroupArticle.Count(); idx++)
                        {
                            var url = Url.Action("GroupItemList", "Article", new { groupid = Model.SubGroupArticle[idx].Group_ID, subgroupid = Model.SubGroupArticle[idx].ID, mid = Model.MenuID, itemid = Model.MainID });
                            <a href="@url" title="@Model.SubGroupArticle[idx].Group_Name" data-sr="enter bottom over 1.5s">
                                <li>
                                    <div class="img imh_opacity"><img src="@Url.Content("~/UploadImage/Article/")@Model.SubGroupArticle[idx].ImageFileName" alt="" /></div>
                                    <div class="title">@Model.SubGroupArticle[idx].Group_Name</div>
                                </li>
                            </a>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {

        });
    </script>
}